<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ManagerCoffee</display-name>
  <servlet>
    <servlet-name>JAVA WS</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>controller</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAVA WS</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ControllerIndexTable</servlet-name>
  	<servlet-class>controller.ControllerIndexTable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerIndexTable</servlet-name>
  	<url-pattern>/admin/indexTable</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ControllerAddTable</servlet-name>
  	<servlet-class>controller.ControllerAddTable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAddTable</servlet-name>
  	<url-pattern>/admin/addTable</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ControllerEditTable</servlet-name>
  	<servlet-class>controller.ControllerEditTable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerEditTable</servlet-name>
  	<url-pattern>/admin/editTable</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ControllerDelTable</servlet-name>
  	<servlet-class>controller.ControllerDelTable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerDelTable</servlet-name>
  	<url-pattern>/admin/delTable</url-pattern>
  </servlet-mapping>

</web-app>